<html>
<head>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">
	<script src="http://cdnjs.cloudflare.com/ajax/libs/q.js/0.9.2/q.js"></script>
</head>

<body>

	<div id="loggedOut">
		<form id="loginForm">
			<input id="username" placeholder="username"><br>
			<input id="password" type="password" placeholder="password"><br>
			<button id="loginUser">Login</button>
		</form>

		<form id="registerForm">
			<input id="username" placeholder="username"><br>
			<input id="password" type="password" placeholder="password"><br>
			<button id="loginUser">Register</button>
		</form>
	</div>

	<div id="loggedin" style="display:none;">
		Logged In!
	</div>

</body>

</html>




